@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--accent-background: #b78ae6;
	--accent-foreground: #a855fc;
	--accent-border: #af6cf2;

	--error-foreground: rgba(255, 0, 51, 1);
	--error-background: rgba(179, 0, 36, 0.25);

	--border-radius: 25px;

	--input-padding: 10px 15px;
}

main.background {
	box-sizing: border-box;
	background: linear-gradient(
		to bottom,
		rgba(247, 168, 184, 1) 0%,
		rgba(234, 171, 217, 1) 25%,
		rgba(200, 181, 245, 1) 50%,
		rgba(147, 194, 255, 1) 75%,
		rgba(85, 205, 252, 1) 100%
	);
	height: 100vh;
}

main.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
